<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.2.2/ical.min.js" integrity="sha384-Zr5m7OHGkYEM1533Ka42wBjNsf8OaNMstevUBVeWiuK++T2lIhrUu9lRuDMED30K" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ site.baseurl }}{% link assets/js/ical-expander.js %}"></script>
<script type="text/javascript" src="{{ site.baseurl }}{% link assets/js/Kalender.coffee %}"></script>
<div class="spinner" id="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div id="calendar"></div>
