<div id="menu_background">
  <div id="menu_container" class="inner">
    <input type="checkbox" id="menu_check">
    <nav>
      <ul>
        <label for="menu_check" id="menu_label">
          <li id="menu_btn">
            <div id="hamburger"></div>
            <a>Menü</a>
          </li>
        </label>
        <li><a href="{{ site.baseurl }}{% link index.md %}">Aktuelles</a></li>
        <li><a class="has_subitems">Termine</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link kalender.md %}">Kalender</a></li>
            <li><a href="{{ site.baseurl }}{% link bibelteilen.md %}">Bibelteilen</a></li>
            <li><a href="{{ site.baseurl }}{% link jugendvigil.md %}">Jugendvigil</a></li>
          </ul>
        </li>
        <li><a href="{{ site.baseurl }}{% link fotos/index.html %}">Fotos</a></li>
        <li><a href="{{ site.baseurl }}{% link location.md %}">Location</a></li>
        <li><a class="has_subitems">Material</a>
          <ul>
            <li><a href="{{ site.baseurl }}{% link downloads.md %}">Downloads</a></li>
            <li><a href="{{ site.baseurl }}{% link links.md %}">Links</a></li>
            <li><a href="{{ site.baseurl }}{% link gebete.md %}">Gebete</a></li>
            <li><a href="{{ site.baseurl }}{% link lieder.md %}">Lieder</a></li>
          </ul>
        </li>
       <li><a href="{{ site.baseurl }}{% link ueber-uns.md %}" id="last_menu_item">Über uns</a></li>
      </ul>
    </nav>
  </div>
</div>
